einops
junitparser
mock
numpy
pytest
pytest_asyncio
pytest-cov
pytest_mock
scipy
tiktoken
wrapt
nltk
pytest-random-order
sentencepiece
zarr
tensorstore!=0.1.46,!=0.1.72
prettytable
wandb
transformers
multi-storage-client
boto3
flask
